@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=Roboto+Serif:wght@400;500;600;700&display=swap');

:root {
  --black: #000000;
  --white: #ffffff;
  --primary: #ff2c54;
  --text-color: #cecece;
  --search-dark: #ffffff1f;
  --font-family: 'Be Vietnam Pro', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--white);
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
